{% extends "base.html" %}
{% block content %}
    <h2>{{ 'Reset Password' if reset else 'Forgot Password' }}</h2>
    {% if not reset %}
        <form method="POST">
            <label>Email:</label><input type="email" name="email" required><br>
            <button type="submit">Send Reset Code</button>
        </form>
    {% else %}
        <form method="POST" action="{{ url_for('reset_password', token=token) }}">
            <label>New Password:</label><input type="password" name="password" required><br>
            <button type="submit">Reset Password</button>
        </form>
    {% endif %}
    <p class="main-text">Back to <a href="{{ url_for('login') }}">Login</a></p>
{% endblock %}